In [1]:
ls

Analysis_tom.ipynb                feature_engineering.py
Data/                             format_apple_data.ipynb
EDA.ipynb                         format_the_data.py
README.md                         load_the_data.py
__pycache__/                      preprocessing.ipynb
aggregated_df.csv                 requirements.txt
check_if_smart_alarm_works.ipynb  run_ols.ipynb
clean_the_data.py

In [2]:
import xml.etree.ElementTree as ET
import pandas as pd
import os

# Load and parse the XML file
current_path = os.getcwd()
tree = ET.parse(current_path + '/Data/export.xml')  # Replace with the path to your XML file
root = tree.getroot()

# Extract data into a list of dictionaries
data = []
for record in root.findall('Record'):
    record_data = record.attrib  # Extract attributes of the Record tag
    for metadata in record.findall('MetadataEntry'):
        record_data[metadata.get('key')] = metadata.get('value')
    data.append(record_data)

# Convert the list of dictionaries into a DataFrame
df = pd.DataFrame(data)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 955583 entries, 0 to 955582
Data columns (total 24 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   type                                 955583 non-null  object
 1   sourceName                           955583 non-null  object
 2   sourceVersion                        955580 non-null  object
 3   unit                                 937988 non-null  object
 4   creationDate                         955583 non-null  object
 5   startDate                            955583 non-null  object
 6   endDate                              955583 non-null  object
 7   value                                954864 non-null  object
 8   device                               921345 non-null  object
 9   HKMetadataKeyHeartRateMotionContext  141330 non-null  object
 10  HKMetadataKeySyncVersion             1728 non-null    object
 11  HKMetadataKeySyncIdentifier          1728 non-null    object
 12  HKMetadataKeyBarometricPressure      4502 non-null    object
 13  meal                                 300 non-null     object
 14  Maaltijd                             300 non-null     object
 15  HKVO2MaxTestType                     18 non-null      object
 16  HKDateOfEarliestDataUsedForEstimate  35 non-null      object
 17  HKMetadataKeyAppleDeviceCalibrated   35 non-null      object
 18  HKMetadataKeyDevicePlacementSide     9903 non-null    object
 19  HKTimeZone                           11113 non-null   object
 20  HKHeartRateEventThreshold            13 non-null      object
 21  HKMetadataKeyAudioExposureLevel      281 non-null     object
 22  HKMetadataKeyAudioExposureDuration   24 non-null      object
 23  HKAlgorithmVersion                   2579 non-null    object
dtypes: object(24)
memory usage: 175.0+ MB

In [4]:
df['type'] = df['type'].str.replace('HKQuantityTypeIdentifier', '')
df['type'] = df['type'].str.replace('HKCategoryTypeIdentifier', '')
for element in df['type'].unique():
  print(element)

BodyMassIndex
Height
BodyMass
HeartRate
OxygenSaturation
RespiratoryRate
StepCount
DistanceWalkingRunning
BasalEnergyBurned
ActiveEnergyBurned
FlightsClimbed
DietaryFatTotal
DietaryFatPolyunsaturated
DietaryFatMonounsaturated
DietaryFatSaturated
DietaryCholesterol
DietarySodium
DietaryCarbohydrates
DietaryFiber
DietarySugar
DietaryEnergyConsumed
DietaryProtein
DietaryVitaminC
DietaryCalcium
DietaryIron
DietaryPotassium
AppleExerciseTime
DistanceCycling
RestingHeartRate
VO2Max
WalkingHeartRateAverage
EnvironmentalAudioExposure
HeadphoneAudioExposure
WalkingDoubleSupportPercentage
SixMinuteWalkTestDistance
AppleStandTime
WalkingSpeed
WalkingStepLength
WalkingAsymmetryPercentage
StairAscentSpeed
StairDescentSpeed
HKDataTypeSleepDurationGoal
AppleWalkingSteadiness
EnvironmentalSoundReduction
SleepAnalysis
AppleStandHour
MindfulSession
HighHeartRateEvent
AudioExposureEvent
ToothbrushingEvent
HeadphoneAudioExposureEvent
HandwashingEvent
HeartRateVariabilitySDNN

In [5]:
df['type'].value_counts()

type
ActiveEnergyBurned                277319
HeartRate                         141356
BasalEnergyBurned                 125157
DistanceWalkingRunning            101545
StepCount                          88990
WalkingStepLength                  29755
WalkingSpeed                       29754
HeadphoneAudioExposure             25371
WalkingDoubleSupportPercentage     25001
FlightsClimbed                     16207
AppleStandTime                     14132
AppleExerciseTime                  12994
SleepAnalysis                      11221
RespiratoryRate                    10764
EnvironmentalAudioExposure         10525
WalkingAsymmetryPercentage          9903
AppleStandHour                      5374
OxygenSaturation                    4502
EnvironmentalSoundReduction         3726
StairDescentSpeed                   3578
StairAscentSpeed                    3030
HeartRateVariabilitySDNN            2579
DistanceCycling                      811
HandwashingEvent                     639
RestingHeartRate                     275
AudioExposureEvent                   257
WalkingHeartRateAverage              248
AppleWalkingSteadiness                98
ToothbrushingEvent                    43
SixMinuteWalkTestDistance             35
HeadphoneAudioExposureEvent           24
MindfulSession                        24
DietaryVitaminC                       20
DietaryCholesterol                    20
DietaryFatTotal                       20
DietaryFatPolyunsaturated             20
DietaryFatMonounsaturated             20
DietaryFatSaturated                   20
DietarySodium                         20
DietaryCalcium                        20
DietaryCarbohydrates                  20
DietaryFiber                          20
DietarySugar                          20
DietaryEnergyConsumed                 20
DietaryProtein                        20
DietaryPotassium                      20
DietaryIron                           20
VO2Max                                18
HighHeartRateEvent                    13
BodyMass                              11
Height                                 2
HKDataTypeSleepDurationGoal            1
BodyMassIndex                          1
Name: count, dtype: int64

In [6]:
df.head()

,type,sourceName,sourceVersion,unit,creationDate,startDate,endDate,value,device,HKMetadataKeyHeartRateMotionContext,...,Maaltijd,HKVO2MaxTestType,HKDateOfEarliestDataUsedForEstimate,HKMetadataKeyAppleDeviceCalibrated,HKMetadataKeyDevicePlacementSide,HKTimeZone,HKHeartRateEventThreshold,HKMetadataKeyAudioExposureLevel,HKMetadataKeyAudioExposureDuration,HKAlgorithmVersion
0,BodyMassIndex,Zepp Life,201912182118,count,2020-01-16 19:20:58 +0100,2020-01-16 19:10:26 +0100,2020-01-16 19:10:26 +0100,22.9221,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Height,Gezondheid,12.2,cm,2019-04-21 21:17:53 +0100,2019-04-21 21:17:53 +0100,2019-04-21 21:17:53 +0100,191,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Height,Gezondheid,13.1.3,cm,2019-11-08 12:57:28 +0100,2019-11-08 12:57:28 +0100,2019-11-08 12:57:28 +0100,192,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BodyMass,Gezondheid,12.2,kg,2019-04-21 21:17:53 +0100,2019-04-21 21:17:53 +0100,2019-04-21 21:17:53 +0100,86,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BodyMass,Gezondheid,13.1.3,kg,2019-11-08 12:57:28 +0100,2019-11-08 12:57:28 +0100,2019-11-08 12:57:28 +0100,85,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Filter for SleepAnalysis and HeartRate
df_filtered = df[df['type'].isin(['SleepAnalysis', 'HeartRate'])]

In [8]:
df['creationDate'] = pd.to_datetime(df['creationDate'])

# Filter for the date range
start_date = '2023-09-30'
end_date = '2023-10-28'
df_filtered = df_filtered[(df_filtered['creationDate'] >= start_date) & (df_filtered['creationDate'] <= end_date)]

df['startDate'] = pd.to_datetime(df['startDate'])
df['endDate'] = pd.to_datetime(df['endDate'])

## Make heart rate dataframe

In [9]:
heart_rate_df = df_filtered[df_filtered['type'] == 'HeartRate']
heart_rate_df = heart_rate_df[['creationDate', 'startDate', 'endDate', 'value']]
heart_rate_df.head()

,creationDate,startDate,endDate,value
121528,2023-09-30 00:00:46 +0100,2023-09-29 23:49:49 +0100,2023-09-29 23:49:49 +0100,72
121529,2023-09-30 00:00:46 +0100,2023-09-29 23:54:35 +0100,2023-09-29 23:54:35 +0100,69
121530,2023-09-30 00:12:15 +0100,2023-09-29 23:59:35 +0100,2023-09-29 23:59:35 +0100,70
121531,2023-09-30 00:12:15 +0100,2023-09-30 00:04:34 +0100,2023-09-30 00:04:34 +0100,70
121532,2023-09-30 00:14:57 +0100,2023-09-30 00:09:45 +0100,2023-09-30 00:09:45 +0100,69

## Make sleep dataframe

In [10]:
sleep_analysis_df = df_filtered[df_filtered['type'] == 'SleepAnalysis']
sleep_analysis_df['value'].value_counts()

value
HKCategoryValueSleepAnalysisAsleepCore    428
HKCategoryValueSleepAnalysisInBed         212
HKCategoryValueSleepAnalysisAwake         166
HKCategoryValueSleepAnalysisAsleepREM     147
HKCategoryValueSleepAnalysisAsleepDeep    127
Name: count, dtype: int64

In [11]:
sleep_analysis_df.head()

,type,sourceName,sourceVersion,unit,creationDate,startDate,endDate,value,device,HKMetadataKeyHeartRateMotionContext,...,Maaltijd,HKVO2MaxTestType,HKDateOfEarliestDataUsedForEstimate,HKMetadataKeyAppleDeviceCalibrated,HKMetadataKeyDevicePlacementSide,HKTimeZone,HKHeartRateEventThreshold,HKMetadataKeyAudioExposureLevel,HKMetadataKeyAudioExposureDuration,HKAlgorithmVersion
945154,SleepAnalysis,iPhoner,16.3.1,NaN,2023-09-30 07:21:30 +0100,2023-09-29 21:17:54 +0100,2023-09-29 23:01:17 +0100,HKCategoryValueSleepAnalysisInBed,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Europe/Amsterdam,NaN,NaN,NaN,NaN
945155,SleepAnalysis,iPhoner,16.3.1,NaN,2023-09-30 07:21:30 +0100,2023-09-29 23:06:46 +0100,2023-09-29 23:08:11 +0100,HKCategoryValueSleepAnalysisInBed,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Europe/Amsterdam,NaN,NaN,NaN,NaN
945156,SleepAnalysis,iPhoner,16.3.1,NaN,2023-09-30 07:21:30 +0100,2023-09-29 23:13:02 +0100,2023-09-29 23:13:05 +0100,HKCategoryValueSleepAnalysisInBed,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Europe/Amsterdam,NaN,NaN,NaN,NaN
945157,SleepAnalysis,Apple Watch van Roman,9.1,NaN,2023-09-30 07:21:30 +0100,2023-09-29 23:40:13 +0100,2023-09-29 23:44:43 +0100,HKCategoryValueSleepAnalysisAsleepCore,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Europe/Amsterdam,NaN,NaN,NaN,NaN
945158,SleepAnalysis,Apple Watch van Roman,9.1,NaN,2023-09-30 07:21:30 +0100,2023-09-29 23:44:43 +0100,2023-09-29 23:45:13 +0100,HKCategoryValueSleepAnalysisAwake,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Europe/Amsterdam,NaN,NaN,NaN,NaN

In [14]:
# get first row of sleep analysis
firstrow = sleep_analysis_df.iloc[0]
firstrow['creationDate']

'2023-09-30 07:21:30 +0100'

In [21]:
# Convert startDate, endDate, and creationDate to datetime if not already done
sleep_analysis_df['startDate'] = pd.to_datetime(sleep_analysis_df['startDate'])
sleep_analysis_df['endDate'] = pd.to_datetime(sleep_analysis_df['endDate'])
sleep_analysis_df['creationDate'] = pd.to_datetime(sleep_analysis_df['creationDate'])

# Filter out 'HKCategoryValueSleepAnalysisInBed'
sleep_analysis_df = sleep_analysis_df[sleep_analysis_df['value'] != 'HKCategoryValueSleepAnalysisInBed']

# Define a function to categorize sleep states
def categorize_sleep_state(value):
    if 'Deep' in value:
        return 4
    elif 'REM' in value:
        return 2
    elif 'Core' in value:  # Assuming 'Core' is light sleep
        return 3
    elif 'Awake' in value:
        return 1
    else:
        return 'unknown'

# Categorize each record
sleep_analysis_df['sleep_state'] = sleep_analysis_df['value'].apply(categorize_sleep_state)

# Calculate the duration for each record in minutes
sleep_analysis_df['duration'] = (sleep_analysis_df['endDate'] - sleep_analysis_df['startDate']).dt.total_seconds() / 60

aggregated_data = []

# Process each day's data
for creation_date, day_data in sleep_analysis_df.groupby('creationDate'):
    # Ensure day_data is sorted by startDate to get the correct last record
    day_data_sorted = day_data.sort_values(by='startDate')

    # Fetch the wake-up time from the last record's creationDate
    wake_up_date = day_data_sorted['creationDate'].iloc[-1].date()
    wake_up_time = day_data_sorted['creationDate'].iloc[-1].time()

    # Calculate the total duration for each sleep state
    sleep_durations = day_data_sorted.groupby('sleep_state')['duration'].sum()

    day_summary = {
        'creation_date': creation_date,
        'wake_up_date': wake_up_date, 
        'wake_up_time': wake_up_time,
        'last_sleep_state': day_data_sorted['sleep_state'].iloc[-1],
        'sleep_deep_duration': sleep_durations.get('sleep_deep_duration', 0),
        'sleep_light_duration': sleep_durations.get('sleep_light_duration', 0),
        'sleep_rem_duration': sleep_durations.get('sleep_rem_duration', 0),
        'sleep_awake_duration': sleep_durations.get('sleep_awake_duration', 0),
        'total_sleep_duration': sum(sleep_durations)
    }
    aggregated_data.append(day_summary)

# Convert the list of dictionaries to a DataFrame
sleep_summary_df = pd.DataFrame(aggregated_data)

In [22]:
sleep_summary_df.head()

,creation_date,wake_up_date,wake_up_time,last_sleep_state,sleep_deep_duration,sleep_light_duration,sleep_rem_duration,sleep_awake_duration,total_sleep_duration
0,2023-09-30 07:21:30+01:00,2023-09-30,07:21:30,3,0,0,0,0,458.0
1,2023-10-01 06:30:32+01:00,2023-10-01,06:30:32,3,0,0,0,0,461.0
2,2023-10-02 05:40:27+01:00,2023-10-02,05:40:27,2,0,0,0,0,456.5
3,2023-10-03 05:31:14+01:00,2023-10-03,05:31:14,3,0,0,0,0,480.5
4,2023-10-04 05:30:42+01:00,2023-10-04,05:30:42,3,0,0,0,0,479.5

In [23]:
#writing to csv
sleep_summary_df.to_csv('Data/sleep_apple.csv', index=False)
heart_rate_df.to_csv('Data/heart_rate_apple.csv', index=False)